# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual env
venv/
backend/venv/

# Environment variables
.env

# FastAPI
*.log

# Uploaded files
backend/data/
backend/models/

# Node
node_modules/

# Build files
dist/
build/

# Vite
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/